<!doctype html>

<html>
  
  <head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
   <center><body>   
   <div th:include="template::header"></div>     
   <div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div><div>&nbsp;
	</div>
   <div>
	    Sebuah sistem yang dibuat oleh Wira, Ruslan, Adit, Risal, Martini, Santi, Aisha dan Wati sebagai sebuah bentuk final project dari mata kuliah J2EE.
		Sistem SimplePOS 2013 akan memudahkan pengelolaan sebuah gudang industri yang bergeerak di sektor manapun.
		Efisiensinya pun telah dipikirkan dengan matang sehingga akan membantu pengerjaan di bidang ini secara nyata dalam
		kehidupan sehari-hari. Kami merupakan mahasiswa tahun ketiga semester lima jurusan informatika fakultas sistem informasi
		Institut Teknologi Sepuluh Nopember. Kami berharap pengerjaan ini akan bermanfaat ke depannya dan kami terbuka terhadap kritik
		dan saran. Untuk menghubungi silahkan kirim email ke SimplePOS2013@gmail.com. Terimakasih
    </div>
    <div>&nbsp;</div>
    <div>
		<img src= "wa.jpg" />
	</div>
</body></center>
</html>