<!doctype html>

<html>
  
  <head>
    <title>Home Gudang</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
   <div th:include="template::header"></div>
   <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
    <center><h1><b>SELAMAT DATANG</b></h1></center>
    <center><h2><b>di GUDANG</b></h2></center>
    <center><h3><b>SIMPLEPOS_2013</b></h3></center>
    <div class="container">
     
    </div>
  </body>
</html>