<!doctype html>

<html>
  
  <head>
    <title>Home Gudang</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
   <div th:include="template::header"></div>
    <h1><center><b>Gudang</b></center></h1>
    <div class="container">
     
    </div>
  </body>
</html>