<!doctype html>
<!-- Built with Divshot - http://www.divshot.com -->
<html>
  <head>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <table class="table">
  <thead>
    <tr>
      <th>ID Barang</th>
      <th>Nama Barang</th>
      <th>Jumlah Barang</th>
      <th>Toko Tujuan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Michael</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jake</td>
    </tr>
  </tbody>
</table>
    </div>
  </body>
  <center><footer>
 <button type="button" class="btn btn-default">Kirim Barang</button>
  </footer></center>
</html>