<!doctype html>

<html>
  <head>
    <title>Kelola Barang Toko</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
  	<div th:include="template::header"></div>
  	<div>&nbsp;</div>
    <center><h1> Kelola Barang Toko</h1></center>
    <center><h2>Halaman ini digunakan untuk mengetahui data barang toko secara keseluruhan</h2></center>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Toko</th>
            <th>Nama Toko</th>
            <th>Barang</th>
            <th>Jumlah Stok</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Michael</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>           
            </td>

          </tr>
          <tr>
            <td>2</td>
            <td>Jake</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>   
            </td>
          </tr>
          <tr>
            <td>
            </td>
            
          </tr>
        </tbody>
      </table>
      
    </div>
  </body>
</html>