<!doctype html>

<html>
  
  <head>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <h1> Kelola Toko</h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Toko</th>
            <th>Nama Toko</th>
            <th>Alamat Toko</th>
            <th>Uang Toko</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${sb.idToko}"></td>
            <td th:text="${sb.namaToko}"></td>
            <td th:text="${sb.alamatToko}"></td>
            <td th:text="${sb.uangToko}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  
 <center>
  <footer>
    <button type="button" class="btn btn-default">Tambah</button> <button type="button" class="btn btn-default">Sunting</button> <button type="button" class="btn btn-default">Hapus</button>
  </footer>
</center>
  </body>
</html>