<!doctype html>

<html>
  
  <head>
    <title>Kelola Barang</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
  	<div th:include="template::header"></div>
    <center><h1> Kelola Barang</h1></center>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama Barang</th>
            <th>Harga Beli</th>
            <th>Harga Jual</th>
            <th>Stok Total Barang</th>
            <th>Tanggal Kadaluarsa</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Michael</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jake</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>   
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            
          </tr>
        </tbody>
      </table>
      
    </div>
  </body>
  
  <center><footer>
  	 <a href ="gudang/kelola_barang_tambah.html" th:href ="@{/gudang/kelola_barang/tambah}" >
     <button type="button" class="btn btn-default">Tambah</button></a>
     <a href ="gudang/kelola_barang_sunting.html" th:href ="@{/gudang/kelola_barang/sunting}" > 
     <button type="button" class="btn btn-default">Sunting</button> </a>
     <button type="button" class="btn btn-default">Hapus</button>
     <a href ="gudang/kelola_barang_tambah_stok.html" th:href ="@{/gudang/kelola_barang/tambah_stok_gudang}" > 
     <button type="button" class="btn btn-default">Tambah Stok</button></a>
     <a href ="gudang/kelola_barang_kirim_ke_toko.html" th:href ="@{/gudang/kelola_barang/kirim_ke_toko}" >
     <button type="button" class="btn btn-default">Kirim Barang</button></a>
  </footer></center>

</html>