<!doctype html>

<html>
  
  <head>
  <h1>Tambah Barang</h1>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">ID Barang</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Masukkan ID"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nama Barang</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Nama Barang"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Harga Beli</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Harga Beli Barang"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Harga Jual</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Harga Jual Barang"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Stok Total Barang</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Stok Total Barang"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tanggal Kadaluarsa</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Tanggal Kadaluarsa"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>
</html>
