<!doctype html>

<html>
  
  <head>
    <title>Kelola Toko</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 	<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
  <div th:include="template::header"></div>
    <h1> <center>Kelola Toko</center></h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Toko</th>
            <th>Nama Toko</th>
            <th>Alamat Toko</th>
            <th>Uang Toko</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sb : ${daftarToko}">
            <td th:text="${sb.idToko}"></td>
            <td th:text="${sb.namaToko}"></td>
            <td th:text="${sb.alamatToko}"></td>
            <td th:text="${sb.uangToko}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  
 <center>
  <footer>
  	<a href ="gudang/kelola_toko_tambah.html" th:href ="@{/gudang/kelola_toko/tambah}" >
    <button type="button" class="btn btn-default">Tambah</button> </a>
    <a href ="gudang/kelola_toko_sunting.html" th:href ="@{/gudang/kelola_toko/sunting}" >
    <button type="button" class="btn btn-default">Sunting</button> </a>
    <button type="button" class="btn btn-default">Hapus</button>
  </footer>
</center>
  </body>
</html>