<!doctype html>

<html>
  
  <head>
    <title>Kelola Barang Toko</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
   <div th:include="template::header"></div>
    <center><h1> Kelola Barang Toko</h1></center>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID StokToko</th>
            <th>ID Toko</th>
            <th>ID Barang</th>
            <th>Jumlah Stok</th>
          </tr>
        </thead>
         <tbody>
          <tr th:each="sb : ${daftarBarangToko}">
            <td th:text="${{sb.idStokToko}}"></td>
            <td th:text="${sb.idToko}"></td>
            <td th:text="${sb.idBarang}"></td>
            <td th:text="${sb.jumlahStok}"></td>
           </tr>
        </tbody>
      </table>
      
    </div>
  </body>
</html>