<!doctype html>

<html>
  
  <head>
  	<title>Kelola Barang - Sunting</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
  	<div th:include="template::header"></div>
  <h1>Sunting Barang</h1>
    <p style="Text-align: center">Halaman ini berguna untuk menyunting barang yang ada digudang</p>
    <div class="container">
      <form action="#" th:action="@{/gudang/kelola_barang/sunting}" th:object="${barang}" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">ID Barang</label>
          <input type="text" class="form-control" th:field="*{idBarang}" placeholder="Masukkan ID Barang yang akan di sunting"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nama Barang</label>
          <input type="text" class="form-control" th:field="*{namaBarang}" placeholder="Masukkan Nama Barang yang Baru"/>
        </div>
        <div class="form-group">               
          <label for="exampleInputPassword1">Harga Beli</label>
          <input type="text" class="form-control" th:field="*{hargaBeli}" placeholder="Masukkan Harga Beli yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Harga Jual</label>
          <input type="text" class="form-control" th:field="*{hargaJual}" placeholder="Masukkan Harga Jual yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Stok Total Barang</label>
          <input type="text" class="form-control" th:field="*{stokTotalBarang}" placeholder="Masukkan Stok Total Barang yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tanggal Kadaluarsa</label>
          <input type="text" class="form-control" th:field="*{tanggalKadaluarsa}" placeholder="Masukkan Tanggal Kadaluarsa yang Baru"/>
         </div>
        <button type="submit" name="suntingBarang" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>

</html>