<!doctype html>

<html>
  
  <head>
  	<title>Kelola Barang - Tambah Stok</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
  	<div th:include="template::header"></div>
  	<h1>Tambah Stok Toko</h1>
    <p style="Text-align: center">Halaman ini berguna untuk menambah stok barang pada toko </p>
    <div class="container">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">ID Stok Toko</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Masukkan ID Stok Toko"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ID Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan ID Toko"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ID Barang</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan ID Barang"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Stok Per Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Stok Per Toko"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>

</html>