<!doctype html>

<html>
  
  <head>
  <h1>Sunting Pegawai Toko</h1>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">ID Pegawai Toko</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Masukkan ID Pegawai Toko yang akan di sunting">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ID Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan ID Toko yang Baru">
        </div>
        <div class="form-group">                  <div class="form-group">
          <label for="exampleInputPassword1">Gaji Pegawai Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Gaji Pegawai Toko yang Baru">
        </div>
          <label for="exampleInputPassword1">Nama Pegawai Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Nama Pegawai Toko yang Baru">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Alamat Pegawai Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Alamat Pegawai Toko yang Baru">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Telepon Pegawai Toko</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Telepon Pegawai Toko yang Baru">
                  <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Password yang Baru">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>

