<!doctype html>

<html>
  
  <head>
  <div th:include="template::header"></div>
  <center><h1> Pegawai Toko Sunting</h1></center>
  <center><h2>Halaman ini digunakan untuk memberikan fitur tambahan untuk mengubah data pegawai toko yang sudah ada sebelumnya</h2></center>
    <title>Pegawai Toko - Sunting</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <form action="#" th:action="@{/gudang/pegawai_toko/sunting}" th:object="${pegawaiToko}" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">ID Pegawai Toko</label>
          <input type="email" class="form-control" th:field="*{idPegawaiToko}" placeholder="Masukkan ID Pegawai Toko yang akan di sunting"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ID Toko</label>
          <input type="text" class="form-control" th:field="*{idToko}" placeholder="Masukkan ID Toko yang Baru"/>
        </div>
        <div class="form-group">                  
          <label for="exampleInputPassword1">Gaji Pegawai Toko</label>
          <input type="text" class="form-control" th:field="*{gajiPegawaiToko}" placeholder="Masukkan Gaji Pegawai Toko yang Baru"/>
        </div>
        <div class="form-group"> 
          <label for="exampleInputPassword1">Nama Pegawai Toko</label>
          <input type="text" class="form-control" th:field="*{namaPegawaiToko}" placeholder="Masukkan Nama Pegawai Toko yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Alamat Pegawai Toko</label>
          <input type="text" class="form-control" th:field="*{alamatPegawaiToko}" placeholder="Masukkan Alamat Pegawai Toko yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Telepon Pegawai Toko</label>
          <input type="text" class="form-control" th:field="*{teleponPegawaiToko}" placeholder="Masukkan Telepon Pegawai Toko yang Baru"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" th:field="*{password}" placeholder="Masukkan Password yang Baru"/>
        </div>
        <button type="submit" name="suntingBarang" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>
 </html>

