<!doctype html>

<html>
  
  <head>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  
  <body>
   <div th:include="template::header"></div>
    <h1> Kelola Pegawai Toko</h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Toko</th>
            <th>Nama Pegawai Toko</th>
            <th>Alamat Pegawai Toko</th>
            <th>Telepon Pegawai Toko</th>
            <th>Gaji Pegawai Toko</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sb : ${daftarBarang}">
            <td th:text="${{sb.idToko}}"></td>
            <td th:text="${sb.namaPegawaiToko}"></td>
            <td th:text="${sb.alamatPegawaiToko}"></td>
            <td th:text="${sb.teleponPegawaiToko}"></td>
            <td th:text="${sb.gajiPegawaiToko}"></td>
            <td th:text="${sb.password}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  
  <center><footer>
    <button type="button" class="btn btn-default">Tambah</button> <button type="button" class="btn btn-default">Sunting</button> <button type="button" class="btn btn-default">Hapus</button>
  </footer></center>

</html>
